%h2 Command Line Reference

#command_reference
  %table{:cellspacing => 0}
    %tr
      %th
        명령어
      %th
        사용 가능한 옵션
    = command_table_row do |command|
      - command.name   = 'check'
      - command.desc   = 'Gemfile의 목록이 현재 설치된 gem의 의존성을 만족하는지 확인'
      - command.option = 'gemfile'
      - command.option = 'path'
    = command_table_row do |command|
      - command.name   = 'clean'
      - command.desc   = '번들러 디렉터리에서 사용하지 않는 gem을 청소'
      - command.option = 'force'
    = command_table_row do |command|
      - command.name   = 'config'
      - command.desc   = '설정 값을 보거나 지정'
    = command_table_row do |command|
      - command.name   = 'console'
      - command.desc   = '번들이 프리로드된 IRB 세션 열기'
    = command_table_row do |command|
      - command.name   = 'exec'
      - command.desc   = '번들의 컨텍스트에서 명령어 실행'
    = command_table_row do |command|
      - command.name   = 'gem'
      - command.desc   = '루비젬을 만들기 위한 뼈대 생성'
      - command.option = 'bin or -b'
    = command_table_row do |command|
      - command.name   = 'help'
      - command.desc   = '각 하위 명령어의 자세한 도움말 표시'
    = command_table_row do |command|
      - command.name   = 'init'
      - command.desc   = '현재 디렉터리에 Gemfile 생성'
      - command.option = 'gemspec'
    = command_table_row do |command|
      - command.name   = 'install'
      - command.desc   = '시스템에 현재 환경을 설치'
      - command.option = 'binstubs'
      - command.option = 'clean'
      - command.option = 'deployment'
      - command.option = 'frozen'
      - command.option = 'full-index'
      - command.option = 'gemfile'
      - command.option = 'local'
      - command.option = 'no-cache'
      - command.option = 'no-prune'
      - command.option = 'path'
      - command.option = 'quiet'
      - command.option = 'shebang'
      - command.option = 'standalone'
      - command.option = 'system'
      - command.option = 'without'
    = command_table_row do |command|
      - command.name   = 'open'
      - command.desc   = '주어진 번들 gem의 소스 디렉터리 열기'
    = command_table_row do |command|
      - command.name   = 'outdated'
      - command.desc   = '새로운 버전이 나온 설치된 gem 목록'
      - command.option = 'local'
      - command.option = 'pre'
      - command.option = 'source'
    = command_table_row do |command|
      - command.name   = 'package'
      - command.desc   = 'vendor/cache에 모든 gem을 캐시, 락'
      - command.option = 'no-prune'
      - command.option = 'all'
    = command_table_row do |command|
      - command.name   = 'platform'
      - command.desc   = '플랫폼 호환성 정보 표시'
      - command.option = 'ruby'
    = command_table_row do |command|
      - command.name   = 'show'
      - command.desc   = '번들에 포함된 모든 gem의 목록이나, 특정 gem의 경로를 표시'
      - command.option = 'paths'
    = command_table_row do |command|
      - command.name   = 'update'
      - command.desc   = '현재 환경을 업데이트'
      - command.option = 'local'
      - command.option = 'source'
    = command_table_row do |command|
      - command.name   = 'version'
      - command.desc   = '버전 정보 출력'
    = command_table_row do |command|
      - command.name   = 'viz'
      - command.desc   = '비주얼 의존성 그래프 생성'
      - command.option = 'file or -f'
      - command.option = 'format or -F'
      - command.option = 'requirements or -r'
      - command.option = 'version or -v'
