%h2 깊이보기

.contents
  .bullet
    .description
      <code>Gemfile</code>에서 사용가능한 모든 옵션과 그 사용법에 대한 수준 높은 논의를 위해 매뉴얼을 읽읍시다.
    = link_to 'Gemfile 매뉴얼', './man/gemfile.5.html'

%h2 Gemfiles

.contents
  .bullet
    .description
      Gemfile에는 최소한 하나의 젬 소스가 필요합니다. 젬 소스에는 루비젬 서버가 URL 형식으로 적혀있어야 합니다. <code>bundle init</code>을 실행함으로써 rubygems.org를 소스로 한 기본 값의 Gemfile을 만듭니다. 할 수만 있다면 <code>https</code>를 사용하여 rubygems.org 서버로의 연결이 SSL 인증되도록 하세요.
    :code
      # lang: ruby
      source 'https://rubygems.org'

  .bullet
    .description
      필요한 젬을 버전 번호와 함께 선언합니다. 의존성을 지원하기 위한 버전 지정에는 루비젬에서
      사용하는 것과 같은 문법을 사용합니다.
    :code
      # lang: ruby
      gem 'nokogiri'
      gem 'rails', '3.0.0.beta3'
      gem 'rack',  '>=1.0'
      gem 'thin',  '~>1.1'
    .notes
      <code>&gt;= 1.0</code> 같은 대부분의 버전 지정자는 자기 자신을 설명합니다.
      지정자 <code>~&gt;</code>는 특별한 의미가 있습니다. 예제로 설명하겠습니다.
      <code>~&gt; 2.0.3</code>은 <code>&gt;= 2.0.3</code> 그리고 <code>&lt; 2.1</code>과 같습니다.
      <code>~&gt; 2.1</code>은 <code>&gt;= 2.1</code> 그리고 <code>&lt; 3.0</code>과 같습니다.
      <code>~&gt; 2.2.beta</code>는 <code>2.2.beta.12</code> 같은 사전 릴리스 버전과 같습니다.
    = link_to '루비젬의 버전 지정자', 'http://guides.rubygems.org/patterns/#pessimistic_version_constraint'

  .bullet
    .description
      젬의 메인 파일이 젬의 이름과 다르다면, require하는 방법을 지정할 필요가 있습니다.
    :code
      # lang: ruby
      gem 'rspec', :require => 'spec'
      gem 'sqlite3'
    .description
      <code>:require => false</code>를 지정함으로써 번들러가 젬을 require하는 것을 방지할 수 있습니다. 하지만 여전히 설치와 의존성의 유지보수는 이루어집니다.
    :code
      # lang: ruby
      gem 'rspec', :require => false
      gem 'sqlite3'
    .notes
      <code>Gemfile</code> 안의 젬을 require하려면, 애플리케이션에서
      <code>Bundler.require</code>를 콜할 필요가 있습니다.
    = link_to '자세한 내용은: Bundler.require', './groups.html'

  .bullet
    .description
      깃 저장소들도 유효한 젬 소스입니다. 저장소가 하나 이상의 유효한 젬을 가지고 있다면 말이죠.
      <code>:tag</code>나 <code>:branch</code>, <code>:ref</code>로 어느 걸 체크아웃할지 정할 수
      있습니다. 기본 값은 <code>master</code> 브랜치입니다.
    :code
      # lang: ruby
      gem 'nokogiri', :git => 'git://github.com/tenderlove/nokogiri.git', :branch => '1.4'
    .notes
      깃 저장소가 <code>.gemspec</code> 파일을 가지고 있지 않다면, 번들러가 의존성, 실행 파일,
      C 확장 설정이 없는 간단한 <code>.gemspec</code> 파일을 생성합니다.
      아마도 간단한 젬에서는 동작할 테지만, 동작하지 않을 수도 있습니다.
      <code>.gemspec</code> 파일이 없다면 깃에서 젬을 사용하지 않는 것이 좋습니다.
    = link_to '자세한 내용은: 깃', './git.html'

  .bullet
    .description
      파일시스템에서 직접 젬을 언팩하고 싶다면, <code>:path</code> 옵션에 젬의 파일들이 들어있는 경로를 지정하면 간단합니다.
    :code
      # lang: ruby
      gem 'extracted_library', :path => './vendor/extracted_library'

  .bullet
    .description
      의존성들은 그룹 안에 있을 수 있습니다. 그룹은 설치 시에 무시(<code>--without</code>을 사용)하거나 한 번에 require(<code>Bundler.require</code>를 사용)할 수 있습니다.
    :code
      # lang: ruby
      gem 'wirble', :group => :development
      gem 'debugger', :group => [:development, :test]

      group :test do
        gem 'rspec'
      end
    = link_to '자세한 내용은: 그룹', './groups.html'

  .bullet
    .description
      <code>Gemfile</code>에 <code>ruby</code>를 사용하여 필요한 루비 버전을 지정할 수 있습니다.
      <code>Gemfile</code>이 다른 루비 버전에서 로드 되었다면, 번들러는 설명과 함께 예외를 발생시킬 것입니다.
    :code
      # lang: ruby
      ruby '1.9.3'

  .bullet
    .description
      이것이 의미하는 것은 1.9.3과 ABI 호환이 있는 루비VM에 의존성이 있다는 것입니다.
      버전을 확인해 맞지 않으면, 번들러는 예외를 발생시킵니다. 이것은 실행 중의 코드가 매치하는지 확인합니다.
      <code>:engine</code>과 <code>:engine_version</code> 버전 옵션을 사용해 좀 더 자세한 설정을 할 수 있습니다.
    :code
      # lang: ruby
      ruby '1.9.3', :engine => 'jruby', :engine_version => '1.6.7'
    = link_to '자세한 내용은: 루비 지시자', './gemfile_ruby.html'
