= partial "shared/whats_new"

%h2#version16 v1.6의 새로운 기능

.contents
  .bullet
    .description
      이 단락에서는 이번 릴리스에 도입된 주요 기능을 확인할 수 있습니다. 모든 변경점은 번들러 1.6의 changelog에 문서화되어 있습니다.
      = link_to '1.6의 전체 changelog', 'https://github.com/bundler/bundler/blob/1-6-stable/CHANGELOG.md'

%h2#new-resolver

.contents
  .bullet
    .description
      재귀를 예방하고, 전보다 Gemfile 파일을 100배 빠르게 해결하도록 하기 위해
      해결기를 다시 구현했습니다.

%h2#bundle-console-irb-alternatives

.contents
  .bullet
    .description
      <code>bundle console</code>는 이제 Pry, Ripl 같은 대안 IRB를 지원합니다.
      Pry를 사용하고 싶다면 다음 번들러 <code>console</code> 설정을 하세요.
      <code>bundle config console pry</code> Gemfile 안에 <code>pry</code>가
      있는지 확인 하셔야 합니다. 이제 <code>bundle console</code>을 실행하면
      IRB 대신 Pry가 열립니다.
    = link_to '자세한 내용은: Bundle Console', './bundle_console.html'

%h2#bundle-gem-ext

.contents
  .bullet
    .description
      이제 새로운 gem을 만들 때, <code>bundle gem</code>은 C 확장의 뼈대를 만드는
      <code>--ext</code> 플래그를 지원합니다. <code>bundle gem newgem --ext</code>을
      실행하면, <code>ext</code> 디렉터리 안에 <code>extconf.rb</code>,
      <code>newgem.c</code>, <code>newgem.h</code> 같은 새로운 파일을 만듭니다.
    = link_to '자세한 내용은: Bundle Gem', './bundle_gem.html'


%h2#other-changes

.contents
  .bullet
    .description
      번들러 1.6은 다음 패치도 포함합니다.
      %ul
        %li 해결과 설치를 빠르게 하는 성능 개선
        %li :github, :gist 같은 사용자 정의 옵션을 위한 <code>:git_source</code>
        %li 설치되거나 업데이트된 gem의 색 하일라이트
        %li HTTP 인증은 이제 <code>bundle config</code>에 저장됩니다.
        = link_to '1.6의 전체 changelog', 'https://github.com/bundler/bundler/blob/1-6-stable/CHANGELOG.md'

